# MISC
.idea*
.DS_Store

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
#*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
Project/PrYv-iOS-Example/Pods/*
Project/PrYv-OSX-Example/Pods/*
Project/PrYv-iOS-Example/Podfile.lock
Project/PrYv-OSX-Example/Podfile.lock
